
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: helvetica;
  background-color: black;
  backface-visibility: hidden;
  height: 100%;
  width: 100%;
  }

* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  overflow: hidden;
  background-color: #0b0a0a;
  padding: 5px;
}

.header a {
  float: left;
  color:#fff;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 16px; 
  line-height: 40px;
  border-radius: 4px;
}

.header a img{
    display: block;
    height: 45px;
    padding: 0px;
    margin: 0px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  color: yellow;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: left;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}


ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.carousel{
    height: 640px;
    background-color: black;
}

.carousel__slide {
  display: none;
  list-style-type: none;
  position: relative;
  height: 620px;
  background-position: center top;
  background-size: cover;
}

@media (max-width: 991px) {
  .carousel__slide {
    padding-right: 60px;
    padding-left: 60px;
 }
}
.carousel__slide--active {
  display: block;
}


.carousel__arrow {
  position: absolute;
  top: 40%;
  display: block;
  color:#fff;
  cursor: pointer;
  opacity: 0.75;
  transform: translateY(-50%);
  transition: opacity 0.15s cubic-bezier(0.4, 0, 1, 1);
}
.carousel__arrow:focus {
  outline: 0;
}
.carousel__arrow:hover {
  opacity: 0.5;
}
.carousel__arrow--left {
  left: 32px;
}
.carousel__arrow--right {
  right: 32px;
}


.carousel__indicators {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}
.carousel__indicators li:nth-of-type(n + 2) {
  margin-left: 9px;
}
.carousel__indicator {
  display: block;
  width: 24px;
  height: 3px;
  background-color: #111;
  cursor: pointer;
  opacity: 0.15;
  transition: opacity 0.15s cubic-bezier(0.4, 0, 1, 1);
}
.carousel__indicator:hover {
  opacity: 0.5;
}
.carousel__indicator--active, .carousel__indicator--active:hover {
  opacity: 0.75;
}


/* Detail screens styles */
.detail__hero {
    position: relative;
    height: 620px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
}

.detail__content{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}


.detail__info h1{
  color: #fff;
}

.btn{
  padding: 40px;
  border-radius: 50%;
  border: 1px solid yellow;
}